<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finding book by id</title>
</head>
<h1>The book that you find:</h1>

<table style="width: 75%;">
    <caption>
        <h2>
            Books in stock we fond
        </h2>
    </caption>

    <tr>
        <th>id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
    </tr>
    <tr>
        <td><span th:text="${book.getId()}"></span></td>
        <td><span th:text="${book.getBookTitle()}"></span></td>
        <td><span th:text="${book.getBookAuthor()}"></span></td>
        <td><span th:text="${book.getBookPrice()}"></span></td>
        <!--        <td>-->
<!--            <input type="text" name="Price" value="1000" th:text="${book.getBookPrice()}"/>-->
<!--        </td>-->
        </tr>
    </table>

    </html>

