<!DOCTYPE html>
<html lang="en">
<head>
    <title>Books. Our ground page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--    <link rel="stylesheet" type="text/css" media="all"-->
    <!--          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />-->
</head>
<body>
<h1>Welcome to our book store!</h1>

<table style="width: 75%">
    <caption>
        <h2>
            Books in stock
        </h2>
    </caption>

    <tr>
        <th>id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr>
        <td>1</td>
        <td>The Thing</td>
        <td>King Steven</td>
        <td>45</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
</table>

<h2>
    Add a Book
</h2>

<!--<form action="signin" method="post">-->
<!--    <input type="text" name="username" placeholder="Логин">-->
<!--    <input type="password" name="password" placeholder="Пароль">-->
<!--</form>-->
<p>
    <label>Add title
        <input type="text" name="Title" placeholder="Title"/>
    </label>
</p>
<p>
    <label >Add author
        <input type="text" name="Author" placeholder="Author"/>
    </label>
</p>
<p>
    <label>Add price
        <input type="text" name="???" placeholder="Author"/>
    </label>
</p>
<p>
    <button type="submit" value="${}">Add book</button>
</p>

</body>
</html>





