<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books. Our ground page</title>
    <meta charset="UTF-8"/>

</head>
<body>
<h1>Welcome to our book store!</h1>

<table style="width: 50%">
    <caption>
        <h2>
            All books in stock
        </h2>
    </caption>

    <tr>
        <th>id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="book : ${listBooks}">
        <td th:utext="${book.getId()}">id</td>
        <td>
            <a th:href="@{/books/{id}(id=${book.getId()})}" th:utext="${book.getBookTitle()}">title</a>
        </td>
        <td th:utext="${book.getBookAuthor()}">author</td>
        <td th:utext="${book.getBookPrice()}">price</td>
        <td>
            <a th:href="@{/books/{id}/edit(id=${book.getId()})}">edit</a>
        </td>
        <td>
            <form th:method="delete" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
                <input type="submit" value="delete">
            </form>
        </td>
    </tr>
</table>

<h2>
    Add a Book
</h2>
<hr/>

<br/>

<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label for="bookTitle">Enter title</label>
    <input type="text" th:field="*{bookTitle}" id="bookTitle" placeholder="title"/>
    <div style="color:red" th:if="${#fields.hasErrors('bookTitle')}" th:errors="*{bookTitle}">Title error</div>
    <br/>
    <br/>
    <label for="bookAuthor">Enter author</label>
    <input type="text" th:field="*{bookAuthor}" id="bookAuthor" placeholder="author"/>
    <div style="color:red" th:if="${#fields.hasErrors('bookAuthor')}" th:errors="*{bookAuthor}">Author error</div>
    <br/>
    <br/>
    <label for="bookPrice">Enter price </label>
    <input type="text" th:field="*{bookPrice}" id="bookPrice" placeholder="price"/>
    <br/>
    <br/>
    <input type="submit" value="Add book">
</form>

</body>
</html>





